---
import Nav from "./components/Navbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>First Astro Project</title>
  </head>
  <body>
    <Nav />
    <h1>
      <span class="text-[#2aa2e3]">Adeel Ahmad</span> trying <span
        style="color: violet;">ASTRO</span
      >
    </h1>
    <a href="/about">Go to About</a>
  </body>
</html>
